<table border="0" cellpadding="0" cellspacing="0" align="center" width="600"
       style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%;max-width: 600px;">
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 18px; font-weight: 700; line-height: 21.94px;
                                color: #000000 !important;padding-top: 67px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 19px;">
            <%- member_name %>, your online activity is confirmed 💪
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            <p style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%; max-width: 510px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
                Hey <%- member_name %>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            <p style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%; max-width: 510px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
                You’ve successfully booked the following online class:
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 1rem; padding-right: 1rem;">
            <table style="width: 100%; max-width: 512px; margin: auto; padding-top: 13px; padding-bottom: 13px; border-top: 1px solid #C4C4C4; border-bottom: 1px solid #C4C4C4;">
                <tr>
                    <td style="min-width: 110px;max-width: 140px;
                                        text-align: left;
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 14px;
                                        padding-bottom: 5px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 12px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        margin-top: 0;
                                        margin-bottom: 8px;vertical-align: text-bottom !important;
                                        ">Activity Details</td>
                    <td style="vertical-align: text-bottom !important;"></td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Date</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- class_date %> </p>
                    </td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Time</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- startTime %> - <%- endTime %></p>
                    </td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Name</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- activity_name %></p>
                    </td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Description</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- activity_description %></p>
                    </td>
                </tr>
                <% if (instruction_file){
                %>
                    <tr>
                        <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                            <p style="text-align: left;vertical-align: text-bottom !important;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;
                                                ">Instructions</p>
                        </td>
                        <td style="vertical-align: text-bottom !important;">
                            <a href="<%- instruction_file %>" download style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;
                                                "><%- instruction_file %></a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important; padding-top: 24px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            <p style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%; max-width: 510px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
                Here’s how to access your session:
            </p>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 1rem; padding-right: 1rem;">
            <table style="width: 100%; max-width: 512px; margin: auto; padding-top: 13px; padding-bottom: 13px; border-top: 1px solid #C4C4C4; border-bottom: 1px solid #C4C4C4;">
                <tr>
                    <td style="min-width: 110px;max-width: 140px;
                                        text-align: left;
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 14px;
                                        padding-bottom: 5px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 12px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        margin-top: 0;
                                        margin-bottom: 8px;vertical-align: text-bottom !important;
                                        ">Session Details</td>
                    <td style="vertical-align: text-bottom !important;"></td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Log in URL</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- login_url_online %></p>
                    </td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Log in ID</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- meeting_id_online %></p>
                    </td>
                </tr>
                <tr>
                    <td style="min-width: 110px;max-width: 140px;vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                ">Log in password</p>
                    </td>
                    <td style="vertical-align: text-bottom !important;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;vertical-align: text-bottom !important;
                                                "><%- login_password_online %></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important; padding-top: 24px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            <p style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%; max-width: 510px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
                We will send you an email reminder 1 hour before your activity starts, please make sure you download any apps you need to participate ahead of time to ensure you join on time.
            </p>
        </td>
    </tr>
</table>